@import url(../node_modules/normalize.css/normalize.css);
@import "./variables.scss";

#app{
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}



li{
  list-style: none;
}
.header {
  min-width: 300px;
  padding: 20px;
  background-color: white;
  display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $desktop-width){
      display: none;
    }
    

  &__navigation {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    &--items--tablet{
      display: none;
      @media (min-width: 768px) {
        display: flex;
      }
    }
  }

  &__leftside {
    display: flex;
    gap: 17px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
  }
}

.button {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.less {
  height: 19px;
}
.main {
  background-color: #f8f8f8;
  width: 100%;
  min-width: 300px;
  height: 100%;
}
.main.h2{
    margin-left: 20px;
}

.aside__menu{
  display: none;
  width: 320px;
  height: 100vh;
  background-color: aqua;
  @media (min-width: $desktop-width){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



}
.main__section{
  width: 100%;
}  