@import url(../node_modules/normalize.css/normalize.css);
@import "./variables.scss";
// SHIFT + ALT + F
h1 {
  margin: 0;
}

#app {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

li {
  list-style: none;
}

.header {
  min-width: 300px;
  padding: 20px;
  background-color: white;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $desktop-width) {
    display: none;
  }

  &__navigation {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    &--items--tablet {
      display: none;
      @media (min-width: 768px) {
        display: flex;
      }
    }
  }

  &__leftside {
    display: flex;
    gap: 17px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
  }
}

.button {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.less {
  height: 19px;
}
.main {
  background-color: #f8f8f8;
  width: 100%;
  min-width: 300px;
  height: 100vhg;
}
.main.h2 {
  margin-left: 20px;
}

.aside__menu {
  display: none;
  width: 320px;
  height: 100vh;
  background-color: white;
  justify-content: space-between;
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    &--header {
      padding-left: 22px;
      padding-right: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--list {
      padding: 7px 21px;
      display: flex;
      flex-direction: column;
      gap: 28px;
      font-size: 16px;
      font-weight: 500;
    }
    &--icon {
      display: flex;
      gap: 16px;
      padding-left: 19px;
    }
    &--lang {
      display: flex;
      gap: 7px;
      padding-left: 21px;
      padding-top: 40px;
    }
    &--mail {
      padding-left: 19px;
      font-size: 16px;
      font-weight: 500;
      padding-top: 16px;
    }
    &--cifri {
      padding-left: 19px;
      padding-top: 12px;
      font-weight: 700;
      font-size: 24px;
    }
  }
}
.main__section {
  width: 100%;
}

.menu {
  display: none;
  &--header {
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--list {
    padding: 7px 21px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-size: 16px;
    font-weight: 500;
  }
  &--icon {
    display: flex;
    gap: 16px;
    padding-left: 19px;
  }
  &--lang {
    display: flex;
    gap: 7px;
    padding-left: 21px;
    padding-top: 40px;
  }
  &--mail {
    padding-left: 19px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
  }
  &--cifri {
    padding-left: 19px;
    padding-top: 12px;
    font-weight: 700;
    font-size: 24px;
  }
}
.menu_open {
  display: flex;
  width: 100vh;
  height: 100vh;
  position: fixed;
  left: 320px;
  top: 0;
}
.flex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 20px 17px rgba(34, 60, 80, 0.23);
  z-index: 1;
}
.menu-white {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.96;
  z-index: 0;
}
.polosa{
  width: 100%;
  height: 1px;
  background-color: #d9fff5;
}
